[flake8]
# For compatibility with Black and to ignore missing docstring at package level.
max-line-length = 88
extend-ignore = E203, D104

# Additional exlude patterns
extend-exclude =
    .ipynb_checkpoints,
    .mypy_cache,
    .pytest_cache,
    node_modules

# Check docstrings using the numpy docstring profile.
docstring-convention = numpy
