default_language_version:
  python: python3.10
repos:
# Python and Markdown Files (.py and .md) --------------------------------------
# Style Formatter
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
    types: [python]
# Markdown Code Block Formatter
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    types: [markdown]
    additional_dependencies: [black==22.12.0]
# Import Formatter
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    name: isort (python)
    args: [
      --profile=black
    ]
    types: [python]
# Docstring Coverage
- repo: https://github.com/econchick/interrogate
  rev: 1.5.0
  hooks:
  - id: interrogate
    args: [
      --verbose,
      --ignore-init-module,
      --fail-under=100
    ]
    types: [python]
# Linter
- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    args: [
      "--extend-ignore=E203,D104",
      --max-line-length=88,
      --docstring-convention=numpy
    ]
    additional_dependencies: [flake8-docstrings==1.6.0]
    types: [python]
# Jupyter Notebooks (.ipynb) ---------------------------------------------------
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.6.0
  hooks:
  # Style Formatter
  - id: nbqa-black
    name: nbqa-black
    description: Run 'black' on a Jupyter Notebook
    entry: nbqa black
    require_serial: true
    types: [jupyter]
    additional_dependencies: [black==22.12.0]
  # Markdown Code Block Formatter
  - id: nbqa
    name: nbqa-blacken-docs
    args: [
      --nbqa-md
    ]
    description: Run 'blacken-docs' on a Jupyter Notebook
    entry: nbqa blacken-docs
    require_serial: true
    types: [jupyter]
    additional_dependencies: [black==22.12.0, blacken-docs==1.12.1]
  # Import Formatter
  - id: nbqa-isort
    name: nbqa-isort
    args: [
      --profile=black
    ]
    description: Run 'isort' on a Jupyter Notebook
    entry: nbqa isort
    require_serial: true
    types: [jupyter]
    additional_dependencies: [isort==5.10.1]
  # Docstring Coverage
  - id: nbqa
    name: nbqa-interrogate
    args: [
      --verbose,
      --ignore-init-module,
      --fail-under=100,
      --ignore-module
    ]
    description: Run 'interrogate' on a Jupyter Notebook
    entry: nbqa interrogate
    require_serial: true
    types: [jupyter]
    additional_dependencies: [interrogate==1.5.0]
  # Linter
  - id: nbqa-flake8
    name: nbqa-flake8
    args: [
      "--extend-ignore=E203,D104,D100",
      --max-line-length=88,
      --docstring-convention=numpy
    ]
    description: Run 'flake8' on a Jupyter Notebook
    entry: nbqa flake8
    require_serial: true
    types: [jupyter]
    additional_dependencies: [flake8==5.0.4, flake8-docstrings==1.6.0]
# File Formatting --------------------------------------------------------------
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-case-conflict
  - id: check-ast
  - id: check-added-large-files
    args: [--maxkb=25000]
# Check and Sync Environment Files ---------------------------------------------
- repo: https://github.com/python-poetry/poetry
  rev: 1.2.2
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args: [--check]
