:root {
    --sidebar-width: 100px;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-pills .nav-link:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.nav-pills .nav-link.active {
    background-color: var(--bs-danger);
}

.nav-pills .nav-link.active:hover {
    background-color: var(--bs-danger);
}

.sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #4ca98f;
}

.sidebar, .hidden-sidebar-div {
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
}

.sidebar .nav-link {
    font-size: 12px;
    color: white;
}
